nav {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: 600;
}

.texto-con-borde {
    color: #000;
    /* Color del texto */
    text-shadow:
        -1px -1px 0 rgb(185 28 28 / 1),
        /* Borde izquierdo y superior */
        1px -1px 0 rgb(185 28 28 / 1),
        /* Borde derecho y superior */
        -1px 1px 0 rgb(185 28 28 / 1),
        /* Borde izquierdo e inferior */
        1px 1px 0 rgb(185 28 28 / 1);
    /* Borde derecho e inferior */
}

h3 {
    /* background-color: white; */
    width: fit-content;
    padding: 2px 5px;
    border-radius: 23px;

}

.navlinks {
    display: flex;
    /* flex-direction: ; */
    gap: 5px;
    margin-left: 10px;
    /* background: #000; */
    
}

a {
    /* color: red; */
    text-decoration: none;
}