nav {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
}


h3 {
    /* background-color: white; */
    width: fit-content;
    padding: 2px 5px;
    border-radius: 23px;

}

.navlinks {
    display: flex;
    /* flex-direction: ; */
    gap: 5px;
    margin-left: 10px;
    /* background: #000; */
    
}

a {
    /* color: red; */
    text-decoration: none;
}